@import url('https://fonts.googleapis.com');
@import "tailwindcss";
@theme{
  
  --font-playfair: "Playfair Display", serif;
  --font-Domine:"Domine", serif;
  --color-button:#24423F;
  --color-secondary:#666bd9;
  --color-bgprimary:#F6F7F8;
  --color-maincolor:#0C0E12;
  
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 100%;
  background-color: white;
  overflow-x: hidden;
  
}   
@keyframes moveGradient {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(-30%, -60%);
  }
  75%{
    transform: translate(-10%,-15%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

.animate-bg {
  animation: moveGradient 6s ease-in-out infinite;
}

.bg-layer {
  background:
    radial-gradient(circle at 20% 30%, rgba(255, 193, 7, 0.25), transparent 40%),
    radial-gradient(circle at 80% 20%, rgba(255, 193, 7, 0.15), transparent 40%),
    radial-gradient(circle at 50% 80%, rgba(255, 193, 7, 0.08), transparent 60%);
}
.marquee {
  display: flex;
  gap: 2rem;
  white-space: nowrap;
  animation: scroll 25s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Mobile adjustments */
@media (max-width: 640px) {
  .marquee {
    gap: 1rem; /* tighter spacing */
    animation: scroll 15s linear infinite; /* faster scroll for smaller screens */
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideup {
  animation: slideUp 0.5s ease forwards;
}
